<footer id="footer">
    <div class="footer-top">
        <div class="footer-col">
            <h1>Poyraz Avsever</h1>
            <ul class="fl-links">
                <li>Fiverr</li>
                <li>Bionluk</li>
                <li>Freelancer</li>
            </ul>
        </div>
        <div class="footer-col">
            <h1>Beni Aratın!</h1>
            <div class="social-media-links">
                <a href="" id="ins"><i class="fab fa-instagram"></i></a>
                <a href="" id="dca"><i class="fab fa-discord"></i></a>
                <a href="" id="gthub"><i class="fab fa-github"></i></a>
                <a href="" id="ytb"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="footer-col">
            <h1>Link</h1>
            <ul class="my-team">
                <li><a href="/" class="footer-link-a">Anasayfa</a></li>
                <li><a href="/login" class="footer-link-a">Giriş Yap</a></li>
                <li><a href="/register" class="footer-link-a">Kayıt Ol</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Poyraz Avsever © Copyright 2022</p>
    </div>

</footer>
