{% extends "layout.html" %}
{% block title %}
Hakkımda
{% endblock title %}
{% block body %}
<section id="about-texts">
    <div class="about-secc" id="about-item1">
        <img src="{{ url_for('static', filename='img/about3.png') }}" alt="" id="header1-img">
        <div class="about-text">
            <h2>Web & Uygulama Programcısı</h2>
            <p>Yazılıma 7.sınıfta oyun yaparak başladım. Her şey oynadığım oyunları eleştirmem ile başladı. Yazılıma Unity & C# ile başladım. Bunlar hakkında temel seviyede bilgi edindikten sonra pythona yöneldim. Pythonda da temel kütüphanelere kadar geldikten sonra (PyQt5, Flask, Django, Pygame, OpenCV vs.) kendimi web üzerinde geliştirmeye karar verdim. Şu anda Html5, Css3, Javascript, Angular vs. öğrenmeye çalışıyorum.</p>
        </div>
    </div>
    <div class="about-secc" id="about-item1">

        <div class="about-text">
            <h2>Amacım ne?</h2>
            <p>Şu an için öncellikli amacım üniversite kazanmak. Bölüm olarak bilgisayar mühendisliği istiyorum. Kendimi yazılım konusunda olabildiğince geliştirip belirli alanlarda ustalaşmak istiyorum. Umarım gelecek hayatımda daha iyi yerlere gelir, hayallerimi gerçekleştirir ve güzel bir meslek sahibi olurum.</p>
        </div>
        <img src="{{ url_for('static', filename='img/about1(2).png') }}" alt="" id="about1-img">
    </div>
    <div class="about-secc" id="about-item1">
        
        <img src="{{ url_for('static', filename='img/about2.png') }}" alt="" id="about2-img">
        <div class="about-text">
            <h2>Neden yazılım?</h2>
            <p>Hayalimdeki mesleği seçerken kazanacağım paradan ziyade sevip sevmememe baktım. Çünkü hayatım boyunca o mesleği yapacağım ki sevmeden yaparsam bir süre sonra sıkılacağımın ve yorulacağımın farkındayım. Yazılıma hobi olarak başlasam da bu işi yapmaktan çok zevk aldığımı fark ettim. Kısacası hayatım boyunca sıkılmadan kod yazıp, bilgisayarla uğraşabilirim.</p>
        </div>

    </div>
</section>

{% endblock body %}
