{% extends "layout.html" %}
{% block title %}
Hakkımda
{% endblock title %}
{% block body %}
<section id="about-texts">
    <div class="about-secc" id="about-item1">
        <img src="{{ url_for('static', filename='img/about3.png') }}" alt="" id="header1-img">
        <div class="about-text">
            <h2>Web & Uygulama Programcısı</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo labore totam ex ipsa deserunt quos magni ipsum, voluptatum aliquid voluptatem. Tenetur eius sunt voluptas consectetur ipsum repellat, omnis quod? Nemo?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis tempora delectus expedita cum fuga deserunt temporibus a dolorem aliquam animi aperiam dicta commodi optio, velit unde porro odio, voluptas voluptate?</p>
        </div>
    </div>
    <div class="about-secc" id="about-item1">

        <div class="about-text">
            <h2>Amacım ne?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo labore totam ex ipsa deserunt quos magni ipsum, voluptatum aliquid voluptatem. Tenetur eius sunt voluptas consectetur ipsum repellat, omnis quod? Nemo?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis tempora delectus expedita cum fuga deserunt temporibus a dolorem aliquam animi aperiam dicta commodi optio, velit unde porro odio, voluptas voluptate?</p>
        </div>
        <img src="{{ url_for('static', filename='img/about1(2).png') }}" alt="" id="about1-img">
    </div>
    <div class="about-secc" id="about-item1">
        
        <img src="{{ url_for('static', filename='img/about2.png') }}" alt="" id="about2-img">
        <div class="about-text">
            <h2>Neden yazılım?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo labore totam ex ipsa deserunt quos magni ipsum, voluptatum aliquid voluptatem. Tenetur eius sunt voluptas consectetur ipsum repellat, omnis quod? Nemo?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis tempora delectus expedita.</p>
        </div>

    </div>
</section>

{% endblock body %}
